@{
    ViewData["Title"] = "CourseWork";
}

<br/>
<div style="align-content: center">
    <h4 style="text-align: center">
        Курсовая работа
    </h4>
    <h4 style="text-align: center">
        Приложение для учёта выпуска и реализации сходных видов продукции»
    </h4>
</div>