@model CourseWorkDb.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form class="form-horizontal" method="post" asp-action="ChangePassword" asp-controller="Users">
                <span class="heading">Изменение пароля пользователя</span>
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email" required readonly>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" asp-for="NewPassword" placeholder="Пароль" required>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" asp-for="NewPasswordConfirm" placeholder="Повторите пароль" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Изменить пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>