@model CourseWorkDb.ViewModels.ChangeRoleViewModel

@{
    ViewData["Title"] = "Редактирование ролей";
}

<h5>Редактирование ролей пользователя @Model.UserEmail</h5>

<form method="post" asp-controller="Roles" asp-action="Edit" >
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        <input type="checkbox" name="adminRole"
               @(Model.UserAdminRole.Equals(Model.AdminRole) ? "checked=\"checked\"" : "") />
        @Model.AdminRole
        <br/>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>